@media screen and (min-width: 550px){
  .main{
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    background-color: #121212;
    padding-top: 0px;
    //padding-top: 100px;

    .container{
      width: 100%;
      min-height: 100vh;
      max-width: 1920px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("./paralax.svg");
      background-size: 15%;
      background-attachment: fixed;
      background-position: right center;
      background-repeat: no-repeat;
      .content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
          width: 50%;
          height: 100%;
          .images{
            width: 100%;
            position: relative;
            img{
              position: absolute;
              top: -300px;
              left: 80px;
            }
            .m1{
              width: 70%;
              animation: m1 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m1 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(0px) translateY(10px) rotate(0deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
            .m2{
              width: 70%;
              animation: m2 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m2 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(0px) translateY(0px) rotate(0deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
            .m3{
              width: 70%;
              animation: m3 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m3 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(10px) translateY(10px) rotate(2deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
            .m4{
              width: 70%;
              animation: m4 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m4 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(0px) translateY(15px) rotate(0deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
          }

        }

        .right{
          width: calc(50% - 60px);
          padding: 60px 60px 60px 0;
          .title{
            font-size: 50pt;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: #F5DE1E;
          }
          .pretitle{
            font-size: 20pt;
            text-transform: uppercase;
            color: #F1F1F1;
          }

          .btns_application{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 90%;
            margin-left: 0px;
            div{
              margin: 10px;
            }
            .btn_android{
              background-color: #F1F1F1;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 200px;
              height: 40px;
              padding: 20px;
              color: #121212;
              i{
                font-size: 30pt;
                color: #121212;
              }
              .text{
                display: flex;
                flex-direction: column;
                font-size: 10pt;
                color: #121212;
                label{
                  font-weight: 600;
                  font-size: 16pt;
                  color: #121212;
                }
              }
            }
            .btn_apple{
              background-color: #F1F1F1;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 200px;
              height: 40px;
              padding: 20px;
              color: #121212;
              margin-left: 10px;
              i{
                font-size: 30pt;
                color: #121212;
              }
              .text{
                display: flex;
                flex-direction: column;
                font-size: 10pt;
                color: #121212;
                label{
                  font-weight: 600;
                  font-size: 16pt;
                  color: #121212;
                }
              }
            }
          }

          .desc{
            font-size: 20pt;
            color: #F1F1F1;
            font-weight: 400;
          }
        }
      }
      .contenttwo{
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .blocks{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
          .why{
            width: calc(100% / 3 - 60px);
            max-height: 50%;
            padding: 20px;
            border: 1px solid #CCC;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            .imgblock{
              width: calc(100%);
              min-height: 250px;
              height: 50%;
              background-size: cover;
              background-position: center center;
            }
            .desc{
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;
              transition: 0.3s;
              .title{

                //height: 100%;
                font-size: 20pt;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                color: #454545;
                text-align: end;
                width: calc(100%);
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s;

              }
              .description{
                display: flex;
                width: calc(100%);
                transition: 0.3s;
              }
            }
            .desc:hover{

            }
          }
        }

      }

    }
  }
}
@media screen and (max-width: 550px){
  .main{
    width: 100vw;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    background-color: #121212;
    padding-top: 0px;
    //padding-top: 100px;

    .container{
      width: 100%;
      min-height: 100vh;
      max-width: 1920px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("./paralax.svg");
      background-size: 15%;
      background-attachment: fixed;
      background-position: right center;
      background-repeat: no-repeat;
      .content{
        width: 100vw;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .left{
          width: 100%;
          height: 250px;
          position: relative;
          margin-bottom: -130px;
          margin-top: -130px;
          z-index: 10;
          .images{
            width: 100vw;
            height: 250px;
            position: relative;
            img{
              position: absolute;
              top: 0px;
              right: 10px;
              width: 200px;

            }
            .m1{
              width: 200px;
              animation: m1 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m1 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(0px) translateY(10px) rotate(0deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
            .m2{
              width: 200px;
              animation: m2 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m2 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(0px) translateY(0px) rotate(0deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
            .m3{
              width:  200px;
              animation: m3 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m3 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(10px) translateY(10px) rotate(2deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
            .m4{
              width:  200px;
              animation: m4 3s ease-in-out infinite;
              margin-left: 50px;
            }
            @keyframes m4 {
              0% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
              50% {
                transform: translateX(0px) translateY(15px) rotate(0deg);
              }
              100% {
                transform: translateX(0) translateY(0) rotate(0deg);
              }
            }
          }

        }

        .right{
          width: calc(100% - 20px);
          padding: 10px;
          z-index: 11;
          .title{
            font-size: 50pt;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: #F5DE1E;
            line-height: 1;
            text-shadow: 0px 0px 20px rgba(0,0,0,1);
          }
          .pretitle{
            font-size: 14pt;
            text-transform: uppercase;
            color: #F1F1F1;
            text-align: justify;
          }

          .btns_application{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 0px);
            //margin-left: 10px;
            div{
              margin: 10px 0;
            }
            .btn_android{
              background-color: #F1F1F1;
              display: flex;
              justify-content: center;
              align-items: center;
              width: calc(50% - 25px);
              height: 40px;
              padding: 10px;
              color: #121212;
              i{
                font-size: 30pt;
                margin-right: 5px;
                color: #121212;
              }
              .text{
                display: flex;
                flex-direction: column;
                font-size: 9pt;
                color: #121212;
                label{
                  font-weight: 600;
                  font-size: 12pt;
                  color: #121212;
                }
              }
            }
            .btn_apple{
              background-color: #F1F1F1;
              display: flex;
              justify-content: center;
              align-items: center;
              width: calc(50% - 25px);
              height: 40px;
              padding: 10px;
              color: #121212;
              i{
                font-size: 30pt;
                margin-right: 5px;
                color: #121212;
              }
              .text{
                display: flex;
                flex-direction: column;
                font-size: 9pt;
                color: #121212;
                label{
                  font-weight: 600;
                  font-size: 12pt;
                  color: #121212;
                }
              }
            }
          }

          .desc{
            font-size: 14pt;
            color: #F1F1F1;
            font-weight: 400;
            text-align: justify;
          }
        }
      }
      .contenttwo{
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .blocks{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
          .why{
            width: calc(100% / 3 - 60px);
            max-height: 50%;
            padding: 20px;
            border: 1px solid #CCC;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            .imgblock{
              width: calc(100%);
              min-height: 250px;
              height: 50%;
              background-size: cover;
              background-position: center center;
            }
            .desc{
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;
              transition: 0.3s;
              .title{

                //height: 100%;
                font-size: 20pt;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                color: #454545;
                text-align: end;
                width: calc(100%);
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s;

              }
              .description{
                display: flex;
                width: calc(100%);
                transition: 0.3s;
              }
            }
            .desc:hover{

            }
          }
        }

      }

    }
  }
}